# Clinic Information
VITE_CLINIC_NAME=Dr. Mitesh Gandhi Dental Clinic
VITE_CLINIC_DOCTOR=Dr. Mitesh Gandhi
VITE_CLINIC_PHONE=+91 9930813579
VITE_CLINIC_WHATSAPP=919930813579
VITE_CLINIC_EMAIL=clinic@example.com
VITE_CLINIC_ADDRESS=22/23 Shop Number, Veena Geet Sangeet, Mahavir Nagar, Kandivali West, Mumbai, Maharashtra 400067
VITE_CLINIC_CITY=Mumbai
VITE_CLINIC_RATING=4.9
VITE_CLINIC_HOURS=9 AM - 8 PM
VITE_CLINIC_MAP_URL=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.1234567890!2d72.82385!3d19.17865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c99999999999%3A0x9999999999999999!2sKandivali%20West%2C%20Mumbai!5e0!3m2!1sen!2sin!4v1234567890

# EmailJS Configuration (Get from https://www.emailjs.com/)
VITE_EMAILJS_SERVICE_ID=service_xxxxxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxxxxxx

# SEO
VITE_SEO_TITLE=Dr. Mitesh Gandhi | Best Dentist in Mumbai
VITE_SEO_DESCRIPTION=Best dental clinic in Kandivali West Mumbai offering implants, root canal, braces, and smile makeover.
