VITE_CLINIC_PHONE=+91 9930813579
VITE_CLINIC_WHATSAPP=919930813579
# EmailJS Configuration (Get from https://www.emailjs.com/)
VITE_EMAILJS_SERVICE_ID=service_xxxxxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
